.main-div{
    background-color: rgb(126, 126, 123) !important;
    min-width : 100% !important;
    min-height : 100% !important;
}
.listing img {
    /* max-width: 160px;
    max-height: 150px;
    margin-top: 10px; */
    border-radius: 10px;
    height : 150px;
    width : 150px;
}
.listing p {
    line-height: 18px;
}
.listing h3 {
    /* background-color: brown; */
    text-align: start;
    margin-top: 15px;
    margin-left: 6px;
    font-weight: 400;
    padding : 10px 0;
    font-size: 30px;
}
