.listing img {
    border-radius: 10px;
    height : 150px;
    width : 150px;
}
.listing p {
    line-height: 18px;
}
.listing h3 {
    text-align: start;
    margin-top: 15px;
    margin-left: 6px;
    font-weight: 400;
    padding : 10px 0;
    font-size: 30px;
}
